@page "/ip/{IPToCheck?}"

<PageTitle>IP Report - @IPToCheck</PageTitle>

<Container Fluid=true>

    @if (IsIPValid.HasValue)
    {
        <Alert Color="@GetAlertColor()" Visible Margin=Margin.Is2>
            <Heading Size=HeadingSize.Is1>
                @IPToCheck
            </Heading>
            <AlertMessage>
                @GetAlertMessage()
            </AlertMessage>
            <Paragraph>
                <Checker />
            </Paragraph>
        </Alert>
        @if (Ip != null)
        {
            <LastReportsList Ip=@Ip FixedHeader=false ItemsCountChanged=@((count) => ItemsCount = count)/>
        }

    }
    else
    {
        <p>Chargement...</p>

    }

</Container>

@code {

    private Color GetAlertColor()
    {
        Color result = Color.Warning;

        if (IsIPValid == true && Ip != null)
        {
            result = Color.Danger;
        }
        else if (IsIPValid == true && Ip == null)
        {
            result = Color.Success;
        }

        return result;
    }

    private string GetAlertMessage()
    {
        string result = $"L'adresse \"{IPToCheck}\" n'est pas une adresse IP valide.";

        if (IsIPValid == true && Ip != null)
        {
            result = $"L'adresse \"{IPToCheck}\" a fait l'objet de {ItemsCount} rapport d'abus.";
        }
        else if (IsIPValid == true && Ip == null)
        {
            result = $"L'adresse \"{IPToCheck}\" n'est pas présente dans notre base de données.";
        }

        return result;
    }

}