<p>@RandomNumber</p>
<br/>
@*@onclick permet de définir une méthode à appeler lors du clic sur un bouton.*@
<button @onclick=NewNumber>RNG</button>

@code {
    //Au lieu de définir le code ici, il est possible de créer un fichier <nomducomposant>.cs,
    //de marque la classe comme partielle et d'écrire le code C# dedans.
}